node_modules/
.env
.env.local
.env.production
Backend/node_modules/
Backend/.env
Backend/.env.local
Backend/.env.production
Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/.env.local
Frontend/.env.production
npm-debug.log
yarn-debug.log
yarn-error.log
*.log
build/
dist/
